<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8" />  
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/static/tab_logo.png">
        <title>About Us</title>        
    </head> 
<body>
    <div class="wrapper">
        <div class="nav-bar text-center w-100">
            <h1 class="text-center mx-auto p-2">RANDALL PAINTING</h1>
            <div class="nav-buttons w-100 navbar navbar-brand d-flex justify-content-around">
                <h3><a href="/services">SERVICES WE OFFER</a></h3>
                <h3><a href="/projects">OUR PROJECTS</a></h3>
                <h3><a href="/about">ABOUT US</a></h3>
                <h3><a href="/contact">CONTACT US</a></h3>
                {% if request.session.user %}
                <h3><a href="/logout">LOGOUT</a></h3>
                {% endif %}
            </div>
        </div>
        <h1 class="text-center m-5 font-weight-bold">{{ about.motto }}</h1>
        <div class="about-block d-flex w-75 mx-auto text-center align-items-center">
            <div class="left-about-block w-50 m-2">
                <img src="/media/{{ about.profile_pic }}" alt="profile-pic" class="m-3 img-fluid">
                <p class="m-2">{{ about.profile_description }}</p>
            </div>
            <div class="right-about-block w-50 m-5">
                <h1 class="m-2">{{ about.co_description_header }}</h1>
                <p>{{ about.co_description }}</p>
            </div>
        </div>
        <div class="bottom-nav d-flex justify-content-around m-5 mx-auto w-75">
            <h4><a href="/about">About Us</a></h4>
            <h4><a href="/contact">Contact Us</a></h4>
            <h4><a href="/admin-login">Admin Login</a></h4>
            {% if request.session.user %}
            <h4><a href="/dashboard">Dashboard</a></h4>
            {% endif %}
        </div>
    </div>
</body>
</html>