<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8" />  
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/static/tab_logo.png">
        <title>Dashboard</title>        
    </head> 
<body>
    <div class="dashboard-wrapper text-center">
        <div class="nav-bar text-center w-100">
            <img class="logo img-fluid" src="/static/randalllogo.jpg" alt="Randall Logo">
            <div class="nav-buttons w-100 navbar navbar-brand d-flex justify-content-around">
                <h3><a href="/dashboard">ADMIN DASHBOARD</a></h3>
                <h3><a href="/dashboard">LOGOUT</a></h3>
            </div>
        </div>
        <div class="dashboard-items mx-auto m-5">
            <a href="/services"><h1 class="text-center mx-auto m-3">VIEW WEBSITE</h1></a>
            <a href="/services"><h1 class="text-center mx-auto m-3">INVOICING</h1></a>
            <a href="/edit-projects"><h1 class="text-center mx-auto m-3">ADD/EDIT PROJECTS DISPLAY PAGE</h1></a>
            <a href="/services"><h1 class="text-center mx-auto m-3">ADD/EDIT CUSTOMER INFORMATION</h1></a>
            <a href="/services"><h1 class="text-center mx-auto m-3">SEARCH CUSTOMER INFORMATION</h1></a>
            <a href="/edit-about-us"><h1 class="text-center mx-auto m-3">EDIT "ABOUT US" DISPLAY PAGE</h1></a>
            <a href="/manage-admins"><h1 class="text-center mx-auto m-3">ADD/MANAGE ADMIN USERS</h1></a>
        </div>
    </div>   
</body>
</html>