<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8" />  
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/static/tab_logo.png">
        <title>Customer Invoices</title>        
    </head> 
<body>
    <div class="wrapper text-center">
        <div class="nav-bar text-center w-100">
            <h1 class="text-center mx-auto p-2">RANDALL PAINTING</h1>
            <div class="nav-buttons w-100 navbar navbar-brand d-flex justify-content-around">
                <h3><a href="/dashboard">ADMIN DASHBOARD</a></h3>
                <h3><a href="/logout">LOGOUT</a></h3>
            </div>
        </div>
        <h1 class="m-3">Customer Invoices</h1>
        <div class="customer-inv-info">
            <h3>Showing invoices for {{ customer.first_name }} {{ customer.last_name }}</h3>
            <h5 class="m-3">Business Name:  {{ customer.business_name }}</h5>
        </div>
        <div class="invoice-block m-5 p-2 w-75 text-center mx-auto">
            {% for invoice in invoices %}
            <div class="view-invoice-block d-flex mx-auto m-2 p-2 justify-content-around">
                <h5>{{ invoice.invoice_label }}</h5>
                <h5><a href="{{ invoice.invoice_location }}" target="_blank">VIEW INVOICE</a></h5>
            </div>
            {% endfor %}
        </div>
        <h3 class="return-link"><a href="/customer-hub/" class="m-2 p-2">Return to Customer Hub</a></h3>
    </div>
</body>
</html>