<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8" />  
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/static/tab_logo.png">
        <title>Edit Customer</title>        
    </head> 
<body class="">
    <div class="wrapper text-center">
        <div class="nav-bar text-center w-100">
            <h1 class="text-center mx-auto p-2">RANDALL PAINTING</h1>
            <div class="nav-buttons w-100 navbar navbar-brand d-flex justify-content-around">
                <h3><a href="/dashboard">ADMIN DASHBOARD</a></h3>
                <h3><a href="/logout">LOGOUT</a></h3>
            </div>
        </div>
        <h1 class="m-3 w-75 mx-auto">Edit Customer</h1>
        <div class="customer-display d-flex w-75 text-center m-3 mx-auto align-items-center">
            <div class="selected-customer w-25 mx-auto m-3">
                <form action="/update-customer/{{ customer.id }}" class="customer-form text-left m-3 pt-3 pb-3 pr-1 pl-1" method="POST">
                    {% csrf_token %}
                    <div class="m-3 d-flex justify-content-between">
                        <label for="first_name">First Name: </label>
                        <input type="text" class="text-center" name="first_name" value="{{ customer.first_name }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="last_name">Last Name: </label>
                        <input type="text" class="text-center" name="last_name" value="{{ customer.last_name }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="phone">Phone: </label>
                        <input type="tel" class="text-center" name="phone" value="{{ customer.phone }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="email">Email: </label>
                        <input type="email" class="text-center" name="email" value="{{ customer.email }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="business_name">Business Name: </label>
                        <input type="text" class="text-center" name="business_name" value="{{ customer.business_name }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="address">Address: </label>
                        <input type="text" class="text-center" name="address" value="{{ customer.address }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="city">City: </label>
                        <input type="text" class="text-center" name="city"  value="{{ customer.city }}">
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="state">State: </label>
                        <select name="state" value="{{ customer.state }}">
                            <option {% if customer.state == 'IA' %} selected {% endif %} value="IA">IA</option>
                            <option {% if customer.state == 'NY' %} selected {% endif %} value="NY">NY</option>
                        </select>
                    </div>
                    <div class="m-3 d-flex justify-content-between">
                        <label for="zip_code">ZIP: </label>
                        <input type="text" class="text-center" name="zip_code" value="{{ customer.zip_code }}">
                    </div>
                    <input type="submit" value="Update Customer" class="m-1 mx-auto text-center">
                </form>
            </div>
        </div>
    </div>   
</body>
</html>